<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="APPLICATION_LOG_LEVEL" source="APPLICATION_LOG_LEVEL" defaultValue="INFO"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="com.example" level="${LOG_LEVEL}"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
